@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tesoro Bajo<br />
    Medellin, Antioquia carrera 29 #5-50 apt 302<br />
    <abbr title="Phone">Cel:</abbr>
    3127270762
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:richardquito1992@hotmail.com">richardquito1992@hotmail.com</a><br />
    <strong>Support2:</strong> <a href="mailto:nosequecua@gmail.com">nosequecua@gmail.com</a>
</address>